<!DOCTYPE html>
<html lang="ro">
<head>
    <%- include("../fragmente/head") %>
    <link rel="stylesheet" href="/resurse/css/nav2.css">
    <title>Gusturi & Culturi - Galerie Culinară</title>
</head>
<body>
    <%- include("../fragmente/header") %>
    
    <main>
        <div class="background-fixed">
    <div class="content">
      <h1>Bine ai venit!</h1>
      <p>Scroll și privește fundalul!</p>
    </div>
  </div>
    </main>
    
    <%- include("../fragmente/footer") %>
</body>
</html>