<header>
   <p id="banner">Acesta este un proiect școlar!</p> 
  <h1>Vacante de vis</h1>

  <nav>
    <div class="burger" onclick="document.querySelector('ul.meniu').classList.toggle('active')">
      <i class="fas fa-bars"></i>
    </div>

    <ul class="meniu">
      <li class="no-submenu"><a href="/index"><i class="fas fa-home"></i> Acasă</a></li>
      <li class="no-submenu"><a href="/despre"><i class="fas fa-info-circle"></i> Despre Noi</a></li>

      <!-- Submeniu pentru Servicii -->
      <li class="has-submenu">
        <a href="#"><i class="fas fa-concierge-bell"></i> Servicii</a>
        <ul class="submenu">
          <li><a href="cazare.html"><i class="fas fa-bed"></i> Cazare</a></li>
          <li><a href="transport.html"><i class="fas fa-bus"></i> Transport</a></li>
          <li><a href="excursii.html"><i class="fas fa-map-marked-alt"></i> Excursii</a></li>
        </ul>
      </li>

      <!-- Submeniu pentru alte pagini -->
      <li class="has-submenu">
        <a href="#"><i class="fas fa-list"></i> Meniu</a>
        <ul class="submenu">
          <li><a href="/fundal"><i class="fas fa-angle-right"></i> Fundal</a></li>
          <li><a href="/pagina_galerie"><i class="fas fa-angle-right"></i> Galerie</a></li>
          <li><a href="/vacante"><i class="fas fa-angle-right"></i> Vacanțe</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>