<head>
<link rel="stylesheet" href="/resurse/scss/custom.css">
  <link rel="stylesheet" href="/resurse/css/general.css">
 <link rel="stylesheet" href="resurse/css/nav.css">
  <link rel="stylesheet" href="resurse/css/nav2.css">
  <link rel="stylesheet" href="resurse/css/print.css" media="print">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <title> Vacante de vis - Destinatii exotice si oferte turistice </title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <meta name="author" content="Onofreiciuc Alexandra">

  <link rel="icon" type="image/png" href="./resurse/imagini/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="./resurse/imagini/favicon/favicon.svg" />
  <link rel="shortcut icon" href="./resurse/imagini/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="./resurse/imagini/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="Vacante de vis" />
  <link rel="manifest" href="./resurse/imagini/favicon/site.webmanifest" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">

  

</head>
</head>